body { 
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    text-align: center;
    margin-left: 70px;
    background-image: url("haxball\ gif.gif"); /* Nombre del GIF corregido */
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
    color: #fff;
}

/* Imagen del título */
.title-image {
    display: block;
    margin: 0 auto; /* Centra horizontalmente */
    max-width: 60%;
    height: auto;
    margin-bottom: 40px;
}

/* Caja de sombra que cubre solo el texto + parte del botón */
.text-container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px 20px; /* Ajuste del padding */
    border-radius: 50px;
    color: white;
    text-align: center;
    width: 50%;
    display: inline-block;
    position: relative;
}

/* Texto descriptivo con la fuente Open Sans */
.description {
    font-size: 14px;
    margin-bottom: 0px;
    line-height: 1.0;
    font-family: "Open Sans", sans-serif;
}

/* Estilo del botón más bordeado */
.play-button {
    display: inline-block;
    background-color: #8da86b;
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 12px 40px; /* Más padding para mejor forma */
    border-radius: 45px; /* Más bordeado */
    border: 3px solid #728857;
    text-decoration: none;
    box-shadow: 0 4px #5a6e4a;
    transition: transform 0.2s, box-shadow 1.5s;
}

/* Ajuste para que el botón sobresalga un poco de la sombra */
.play-button-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 25px;
}

/* Efecto al pasar el mouse */
.play-button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}
